.ptp-5-plans .ptp-plan {
	float: left;
	width: 19.5%;
}

.ptp-5-plans .ptp-plan-0 {
	margin-right: 0.62%;
}

.ptp-5-plans .ptp-plan-2,
.ptp-5-plans .ptp-plan-3,
.ptp-5-plans .ptp-plan-4 {
	margin-left: 0.62%;
}

.ptp-4-plans .ptp-plan {
	float: left;
	width: 24.5%;
}

.ptp-4-plans .ptp-plan-0 {
	margin-right: 0.66%;
}

.ptp-4-plans .ptp-plan-2,
.ptp-4-plans .ptp-plan-3 {
	margin-left: 0.66%;
}

.ptp-3-plans .ptp-plan {
	float: left;
	width: 32%;
}

.ptp-3-plans .ptp-plan-0 {
	margin-right: 1.9%;
}

.ptp-3-plans .ptp-plan-2 {
	margin-left: 1.9%;
}

.ptp-2-plans .ptp-plan {
	float: left;
	width: 49%;
}

.ptp-2-plans .ptp-plan-0 {
	margin-right:2%;
}

.ptp-plan .ptp-title img {
	margin-right:10px;
	position:relative;
	vertical-align: middle;
}
.ptp-plan .ptp-title {
	border-bottom:#111 solid 1px;
	background:#222;
	padding:14px 18px;
	font-size:26px;
	color:white;
	line-height:48px;
	-webkit-border-top-left-radius: 8px;
	-webkit-border-top-right-radius: 8px;
	-moz-border-radius-topleft: 8px;
	-moz-border-radius-topright: 8px;
	border-top-left-radius: 8px;
	border-top-right-radius: 8px;
}

.ptp-plan .ptp-head {
	border-top:#222 solid 2px;
	background: #333333; /* Old browsers */
	background: -moz-linear-gradient(45deg, #333333 0%, #1c1c1c 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left bottom, right top, color-stop(0%,#333333), color-stop(100%,#1c1c1c)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(45deg, #333333 0%,#1c1c1c 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(45deg, #333333 0%,#1c1c1c 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(45deg, #333333 0%,#1c1c1c 100%); /* IE10+ */
	background: linear-gradient(45deg, #333333 0%,#1c1c1c 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#333333', endColorstr='#1c1c1c',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

.ptp-plan .ptp-head .ptp-price {
	padding:6px 10px;
	font-size:74px;
	line-height:100px;
	font-weight:300;
	text-align:center;
	color:white;
	text-shadow: 1px 2px 7px rgba(0, 0, 0, 0.6);
}

.ptp-plan .ptp-head .ptp-recurrence {
	font-size:13px;
	font-weight:300;
	line-height:18px;
	padding:10px 40px 20px;
	color:lightgrey;
	text-align:center;
}

.ptp-sm-recurrence .ptp-plan .ptp-head .ptp-recurrence {font-size:11px; padding:20px 40px 4px;}

.ptp-plan .ptp-head .ptp-subtitle {
	font-size:16px;
	line-height:20px;
	font-weight:300;
	text-align:center;
	padding:10px 30px 20px;
}

.ptp-plan .ptp-head .ptp-description {
	font-size:14px;
	line-height:20px;
	padding:0px 20px 30px;
	font-weight:300;
	text-align:center;
	color:grey;
}

.ptp-sm-description .ptp-plan .ptp-head .ptp-description {font-size:12px;}

.ptp-4-plans  .ptp-plan .ptp-head .ptp-description {font-size:13px; line-height:18px; }
.ptp-4-plans .ptp-sm-description .ptp-plan .ptp-head .ptp-description {font-size:12px; line-height:17px;}

.ptp-5-plans .ptp-plan .ptp-head .ptp-description {font-size:12px; line-height:18px;}
.ptp-5-plans .ptp-sm-description .ptp-plan .ptp-head .ptp-description {font-size:11px; line-height:17px;}

.ptp-plan .ptp-features {
	padding:20px;
	background:whitesmoke;
	text-align:center;
}

.ptp-plan .ptp-features .ptp-feature {
	font-size: 16px;
	padding:6px 16px;
	border-bottom: 1px dotted lightgrey;
}
.ptp-sm-features .ptp-plan .ptp-features .ptp-feature {font-size: 14px;}

.ptp-4-plans .ptp-plan .ptp-features .ptp-feature {
	padding:6px 10px;
	font-size: 14px;
}
.ptp-4-plans .ptp-sm-features .ptp-plan .ptp-features .ptp-feature {font-size: 12px;}

.ptp-5-plans .ptp-plan .ptp-features .ptp-feature {
	padding:6px 10px;
	font-size: 13px;
}
.ptp-5-plans .ptp-sm-features .ptp-plan .ptp-features .ptp-feature {font-size: 11px;}

.ptp-plan .ptp-foot {
	background: #222;
	display:block;
	padding:10px 30px;
	border-top:whitesmoke solid 2px;
	-webkit-border-bottom-left-radius: 8px;
	-webkit-border-bottom-right-radius: 8px;
	-moz-border-radius-bottomleft: 8px;
	-moz-border-radius-bottomright: 8px;
	border-bottom-left-radius: 8px;
	border-bottom-right-radius: 8px;
	text-align:center;
	color: #fff !important;
	font-size: 24px;
	text-decoration:none;
	font-weight:300;
	transition:All 500ms ease;
	-webkit-transition:All 500ms ease;
	-moz-transition:All 500ms ease;
	-o-transition:All 500ms ease;
}
.ptp-sm-button .ptp-plan .ptp-foot {font-size: 19px;}

.ptp-4-plans .ptp-plan .ptp-foot {padding:4px 20px; font-size:19px;}
.ptp-4-plans .ptp-sm-button .ptp-plan .ptp-foot {padding:4px 20px; font-size:17px;}

.ptp-5-plans .ptp-plan .ptp-foot {padding:4px 20px; font-size:17px;}
.ptp-5-plans .ptp-sm-button .ptp-plan .ptp-foot {font-size:16px;}

.ptp-plan .ptp-foot:hover {opacity:0.8;}

.ptp-plan img {
	display:inline;
	margin:0px 10px 0 0;
	padding:0;
	-webkit-box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0);
	-moz-box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0);
	box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0);
	border:none;
}

/* CSS FIXES */
.entry-content .ptp-plan a {border-bottom:none;}
.ptp-plan a {border-bottom:none;}

.ptp-plans:before,
.ptp-plans:after {
	content: "";
	display: table;
}

.ptp-plans:after {
	clear: both;
}

/* TABLETS */
@media only screen and (min-width: 40em) and (max-width: 64.063em) {
	.ptp-plan .ptp-head .ptp-price {font-size:64px; margin-top:20px;}
}

/* MOBILE SCREENS */
@media only screen and (max-width: 40em) {
	.ptp-plan .ptp-head .ptp-price {font-size:74px !important;line-height:100px !important;}
	.ptp-plan .ptp-title {font-size:26px !important;line-height:48px;}

	.ptp-plan .ptp-head .ptp-description {
		font-size:15px !important;
		line-height:26px !important;
		padding:0px 40px 30px;
	}

	.ptp-plan .ptp-features .ptp-feature {padding:6px 16px;font-size:14px !important;}

	.ptp-plan .ptp-foot {
		padding:10px 40px;
		text-align:center;
		font-size: 20px !important;
	}

	.ptp-plans .ptp-plan {width:96%;}
	.ptp-plans .ptp-plan {margin:10px 2% 20px !important;}

}